<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474191272686-s563fupje95e61chkjs6cpemgc3ki1d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474191272686-s563fupje95e61chkjs6cpemgc3ki1d7</string>
	<key>API_KEY</key>
	<string>AIzaSyBgIFl6eFmnwbYx1cbJYOGt0tIO4oZKPtg</string>
	<key>GCM_SENDER_ID</key>
	<string>474191272686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorpion.booky</string>
	<key>PROJECT_ID</key>
	<string>booky-a6a30</string>
	<key>STORAGE_BUCKET</key>
	<string>booky-a6a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474191272686:ios:c92994685f8e6da94cf1ff</string>
	<key>DATABASE_URL</key>
	<string>https://booky-a6a30.firebaseio.com</string>
</dict>
</plist>